.a-button {
	padding: var(--space-4) var(--space-7);

	/* .heading-xs */
	font-size: var(--fs-title-xs);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-xs);
	letter-spacing: var(--ls-title-xs);
	text-transform: uppercase;
}

.a-button--primary {
	background-color: var(--background-tertiary);
	color: var(--text-color-secondary);

	&:hover {
		background-color: var(--background-quinary);
	}

	&:active {
		background-color: var(--background-tertiary);
	}

	&:focus-visible {
		outline: var(--border-1) solid var(--border-secondary);
		outline-offset: var(--space-1);
	}
}

.a-button--secondary {
	border: var(--border-025) solid var(--border-primary);
	background-color: var(--background-primary);
	color: var(--text-color-primary);

	&:hover {
		background-color: var(--background-secondary);
		color: var(--text-color-secondary);
	}

	&:active {
		background-color: var(--background-primary);
		color: var(--text-color-primary);
	}

	&:focus-visible {
		outline: var(--border-1) solid var(--border-primary);
		outline-offset: var(--space-1);
	}
}

.a-button--tertiary {
	border: var(--border-025) solid var(--border-primary);
	background-color: var(--background-secondary);
	color: var(--text-color-secondary);

	&:hover {
		background-color: var(--background-primary);
		color: var(--text-color-primary);
	}

	&:active {
		background-color: var(--background-secondary);
		color: var(--text-color-secondary);
	}

	&:focus-visible {
		outline: var(--border-1) solid var(--border-primary);
		outline-offset: var(--space-1);
	}
}

.a-button--with-arrow {
	display: flex;
	gap: var(--space-3);
	align-items: center;
	color: var(--text-color-primary-50p);

	svg {
		color: var(--text-color-tertiary);
	}

	&:hover {
		color: var(--text-color-tertiary);
	}

	&:active {
		color: var(--text-color-primary-50p);

		svg {
			color: var(--text-color-primary-50p);
		}
	}

	&:focus-visible {
		outline: var(--border-1) solid var(--border-secondary);
		outline-offset: var(--space-1);
	}
}

@media (hover: none) {
	.a-button--primary {
		&:active {
			background-color: var(--background-quinary);
		}
	}

	.a-button--secondary {
		&:active {
			background-color: var(--background-secondary);
			color: var(--text-color-secondary);
		}
	}

	.a-button--tertiary {
		&:active {
			background-color: var(--background-primary);
			color: var(--text-color-primary);
		}
	}

	.a-button--with-arrow {
		&:active {
			color: var(--text-color-tertiary);

			svg {
				color: var(--text-color-tertiary);
			}
		}
	}
}
