/* stylelint-disable no-descending-specificity */
.a-input__label {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"label error"
		"input input";
	gap: var(--space-2);
	font-weight: var(--weight-bold);

	&:has(.a-input:not(:focus, :placeholder-shown):invalid) {
		color: var(--text-color-wrong);
	}

	&:has(.a-input:not(:focus, :placeholder-shown):invalid) .a-input__error {
		display: initial;
	}
}

.a-input {
	grid-area: input;
	padding: var(--space-4) var(--space-6);
	border: var(--border-025) solid var(--border-tertiary);
	border-radius: var(--border-radius-2);
	background-color: transparent;
	outline: none;
	caret-color: var(--border-secondary);

	&:focus-visible {
		border-color: var(--border-secondary);
	}

	&:not(:focus, :placeholder-shown):invalid {
		border-color: var(--border-wrong);
	}
}

.a-input__error {
	display: none;
	grid-area: error;
	justify-self: end;
	font-weight: var(--weight-regular);
}
