---
import "./styles.css";
---

<section class="counter-container">
	<h2
		class="counter-value"
		data-target="500"
	>
	</h2>
	<h3 class="counter-label">+ socios satisfechos</h3>
</section>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const counterElements = document.querySelectorAll(".counter-value");

		// Usar IntersectionObserver para detectar cuando el contador es visible
		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (
						entry.isIntersecting &&
						!entry.target.classList.contains("animate")
					) {
						// Agregamos la clase que inicia la animación
						entry.target.classList.add("animate");
						// Dejar de observar una vez que se ha iniciado la animación
						observer.unobserve(entry.target);
					}
				});
			},
			{ threshold: 0.1 },
		); // Comenzar cuando al menos 10% del elemento es visible

		counterElements.forEach((counter) => {
			observer.observe(counter);
		});
	});
</script>
