/* Define la propiedad CSS personalizada para el contador */
@property --num {
	syntax: "<integer>";
	initial-value: 0;
	inherits: false;
}

/* Estilos para el componente Counter */
.counter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	text-align: center;
}

.counter-value {
	--num: 0;

	margin-bottom: 0.5rem;
	counter-reset: num var(--num);
}

.counter-value.animate {
	--num: 500;

	transition: --num 2s;
}

.counter-value::after {
	content: counter(num);
}
