---
import "./styles.css";
---

<section class="hero">
	<video
		aria-label="Video motivacional de portada"
		autoplay
		class="hero__video"
		loop
		muted
	>
		<source
			media="(min-width: 768px)"
			src="/video/motivational.webm"
			type="video/webm"
		/>
		<source
			src="/video/motivational-mobile.webm"
			type="video/webm"
		/>
	</video>

	<div class="hero__overlay">
		<div class="hero__content">
			<h1 class="hero__subtitle">Supera tus límites</h1>
			<p class="hero__subtitle heading-xs">
				Transforma tu cuerpo, transforma tu vida
			</p>
			<a
				class="hero__cta a-button a-button--primary"
				href="/prices"
				>Comienza ahora</a
			>
		</div>
	</div>
</section>
