---
import "./styles.css";
---

<section class="schedule-container">
	<h2 class="schedule-heading">Horarios Semanales</h2>

	<table class="schedule-table">
		<caption>Horarios de Clases</caption>
		<thead>
			<tr>
				<th scope="col">Día</th>
				<th scope="col">Mañana</th>
				<th scope="col">Tarde</th>
				<th scope="col">Noche</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td data-label="Día">Lunes</td>
				<td data-label="Mañana"
					>Yoga (8:00 - 9:30)<br />Spinning (10:00 - 11:00)</td
				>
				<td data-label="Tarde"
					>Funcional (15:00 - 16:30)<br />HIIT (17:00 - 18:00)</td
				>
				<td data-label="Noche"
					>Crossfit (19:30 - 21:00)<br />Strong (21:30 - 22:30)</td
				>
			</tr>
			<tr>
				<td data-label="Día">Martes</td>
				<td data-label="Mañana"
					>Funcional (8:00 - 9:30)<br />Strong (10:00 - 11:00)</td
				>
				<td data-label="Tarde"
					>Yoga (15:00 - 16:30)<br />Crossfit (17:00 - 18:00)</td
				>
				<td data-label="Noche"
					>HIIT (19:30 - 20:30)<br />Spinning (21:00 - 22:00)</td
				>
			</tr>
			<tr>
				<td data-label="Día">Miércoles</td>
				<td data-label="Mañana"
					>Crossfit (8:00 - 9:30)<br />HIIT (10:00 - 11:00)</td
				>
				<td data-label="Tarde"
					>Strong (15:00 - 16:00)<br />Spinning (16:30 - 17:30)</td
				>
				<td data-label="Noche"
					>Yoga (19:00 - 20:30)<br />Funcional (21:00 - 22:00)</td
				>
			</tr>
			<tr>
				<td data-label="Día">Jueves</td>
				<td data-label="Mañana"
					>Strong (8:00 - 9:00)<br />Yoga (9:30 - 11:00)</td
				>
				<td data-label="Tarde"
					>Spinning (15:00 - 16:00)<br />Crossfit (16:30 - 18:00)</td
				>
				<td data-label="Noche"
					>Funcional (19:00 - 20:00)<br />HIIT (20:30 - 21:30)</td
				>
			</tr>
			<tr>
				<td data-label="Día">Viernes</td>
				<td data-label="Mañana"
					>HIIT (8:00 - 9:00)<br />Funcional (9:30 - 10:30)</td
				>
				<td data-label="Tarde"
					>Yoga (15:00 - 16:30)<br />Strong (17:00 - 18:00)</td
				>
				<td data-label="Noche"
					>Spinning (19:00 - 20:00)<br />Crossfit (20:30 - 22:00)</td
				>
			</tr>
			<tr>
				<td data-label="Día">Sábado</td>
				<td data-label="Mañana"
					>Spinning (9:00 - 10:00)<br />Strong (10:30 - 11:30)</td
				>
				<td data-label="Tarde"
					>HIIT (15:00 - 16:00)<br />Yoga (16:30 - 18:00)</td
				>
				<td data-label="Noche">-</td>
			</tr>
			<tr>
				<td data-label="Día">Domingo</td>
				<td data-label="Mañana">Yoga (10:00 - 11:30)</td>
				<td data-label="Tarde">Spinning (12:00 - 14:00)</td>
				<td data-label="Noche">-</td>
			</tr>
		</tbody>
	</table>
</section>
