h1 {
	font-size: var(--fs-title-3xl);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-3xl);
	letter-spacing: var(--ls-title-3xl);
	text-transform: uppercase;
}

h2 {
	font-size: var(--fs-title-2xl);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-2xl);
	letter-spacing: var(--ls-title-2xl);
	text-transform: uppercase;
}

h3 {
	font-size: var(--fs-title-xl);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-xl);
	letter-spacing: var(--ls-title-xl);
	text-transform: uppercase;
}

h4 {
	font-size: var(--fs-title-lg);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-lg);
	letter-spacing: var(--ls-title-lg);
	text-transform: uppercase;
}

h5 {
	font-size: var(--fs-title-md);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-md);
	letter-spacing: var(--ls-title-md);
	text-transform: uppercase;
}

h6 {
	font-size: var(--fs-title-sm);
	font-weight: var(--weight-bold);
	line-height: var(--lh-title-sm);
	letter-spacing: var(--ls-title-sm);
	text-transform: uppercase;
}
