---
import Classes from "@components/Classes/index.astro";
import Counter from "@components/Counter/index.astro";
import Footer from "@components/Footer/index.astro";
import Header from "@components/Header/index.astro";
import Hero from "@components/Hero/index.astro";
import Layout from "@layouts/Layout.astro";
// import IconArrowRight from "@public/icons/icon-arrow-right.svg";
---

<Layout
	description="Infinity Gym es un gimnasio de entrenamiento funcional y crossfit en la ciudad San Salvador de Jujuy, Jujuy, Argentina."
	title="Infinity GYM"
>
	<Header />
	<main>
		<Hero />
		<Classes />
		<Counter />

		<!-- <button class="a-button a-button--primary">See product</button>
		<button class="a-button a-button--secondary">See product</button>
		<button class="a-button a-button--tertiary">See product</button>
		<button class="a-button a-button--with-arrow"
			>See product
			<IconArrowRight />
		</button>

		<label
			class="a-input__label"
			for=""
		>
			<span>Tu email</span>
			<input
				class="a-input"
				id=""
				name=""
				type="email"
			/>
			<span class="a-input__error">Error</span>
		</label> -->
	</main>
	<Footer />
</Layout>
