---
import Footer from "@components/Footer/index.astro";
import Header from "@components/Header/index.astro";
import Prices from "@components/Prices/index.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
	description="Infinity Gym es un gimnasio de entrenamiento funcional y crossfit en la ciudad San Salvador de Jujuy, Jujuy, Argentina."
	title="Entrenadores"
>
	<Header />
	<main>
		<Prices />
	</main>
	<Footer />
</Layout>
