---
import "./styles.css";

import BurgerMenuIcon from "@public/icons/icon-hamburger.svg";
---

<div class="mega-menu-container">
	<label
		class="menu-toggle-label"
		for="menu-toggle"
	>
		<span class="is-sr-only">Menú</span>
		<input
			class="menu-toggle"
			id="menu-toggle"
			type="checkbox"
		/>
		<BurgerMenuIcon class="header__menu-icon" />
	</label>
	<nav class="mega-menu">
		<div class="mega-menu__content">
			<div class="mega-menu__section">
				<h6 class="mega-menu__title">Clases</h6>
				<ul class="mega-menu__list">
					<li><a href="/clases/">Clases grupales</a></li>
					<li>
						<a href="/clases/">Clases personalizadas</a>
					</li>
					<li><a href="/clases/#hours">Horarios</a></li>
					<li><a href="/clases/">Reservar clase</a></li>
				</ul>
			</div>

			<div class="mega-menu__section">
				<h6 class="mega-menu__title">Entrenadores</h6>
				<ul class="mega-menu__list">
					<li>
						<a href="/entrenadores/">Nuestro equipo</a>
					</li>
					<li>
						<a href="/entrenadores/">Especialidades</a>
					</li>
					<li>
						<a href="/entrenadores/">Certificaciones</a>
					</li>
				</ul>
			</div>

			<div class="mega-menu__section">
				<h6 class="mega-menu__title">Precios</h6>
				<ul class="mega-menu__list">
					<li><a href="/precios/">Membresías</a></li>
					<li><a href="/precios/">Promociones</a></li>
					<li>
						<a href="/precios/">Planes personalizados</a>
					</li>
				</ul>
			</div>

			<div class="mega-menu__section">
				<h6 class="mega-menu__title">
					<a href="/contacto/">Contacto</a>
				</h6>
			</div>
			<div class="mega-menu__section">
				<h6 class="mega-menu__title">
					<a href="/blog/">Blog</a>
				</h6>
			</div>
		</div>
	</nav>
</div>
