/* stylelint-disable no-descending-specificity */
.mega-menu-container {
	position: relative;
}

.menu-toggle {
	position: absolute;
	block-size: 0;
	inline-size: 0;
	opacity: 0;
}

.menu-toggle-label {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.mega-menu {
	position: absolute;
	top: calc(100% + var(--space-3));
	right: 0;
	z-index: 1;
	inline-size: min(90vw, 80rem);
	border-radius: var(--border-radius-md);
	background-color: var(--background-primary);
	transition: all 0.3s ease;
	transform: translateY(-1rem);
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0.4rem 1.6rem oklch(0% 0 0 / 10%);
}

/* Mostrar el menú cuando el checkbox está marcado */
.menu-toggle-label:has(.menu-toggle:checked) ~ .mega-menu {
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}

.mega-menu__content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: var(--space-6);
	padding: var(--space-6);
}

.mega-menu__title {
	margin-bottom: var(--space-4);
	color: var(--text-color-primary);
	cursor: default;
}

.mega-menu__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.mega-menu__list li {
	margin-bottom: var(--space-3);
}

.mega-menu__list a {
	color: var(--text-color-primary);
	text-decoration: none;
	transition: color 0.2s ease;
}

.mega-menu__list a:hover {
	color: var(--text-color-tertiary);
}

@media screen and (width <= 768px) {
	.mega-menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
		block-size: 100vh;
		inline-size: 30rem;
		border-radius: 0;
	}

	.mega-menu__content {
		grid-template-columns: 1fr;
		padding-top: calc(var(--space-7) * 2);
	}
}

@media screen and (width >= 1028px) {
	.mega-menu-container {
		justify-items: end;
	}

	.menu-toggle-label {
		display: none;
	}

	.mega-menu {
		position: initial;
		background-color: transparent;
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
		box-shadow: none;
	}

	.mega-menu__content {
		display: flex;
		justify-content: end;
		padding: 0;
	}

	.mega-menu__section {
		position: relative;
	}

	.mega-menu__title {
		margin-bottom: 0;
		color: var(--text-color-primary);
	}

	.mega-menu__title:hover + .mega-menu__list {
		display: initial;
	}

	.mega-menu__list {
		position: absolute;
		inset-inline-start: 50%;
		display: none;
		padding: var(--space-4);
		background-color: var(--background-primary);
		transform: translateX(-50%);
		box-shadow: 0 0.4rem 1.6rem oklch(0% 0 0 / 10%);

		&:hover {
			display: initial;
		}
	}
}
