---
import "@styles/index.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			content="width=device-width"
			name="viewport"
		/>
		<link
			href="/favicon-32x32.png"
			rel="icon"
			sizes="32x32"
			type="image/png"
		/>
		<link
			href="/favicon.ico"
			rel="shortcut icon"
		/>
		<meta
			content={description}
			name="description"
		/>
		<title>{title}</title>

		<style>
			:root {
				--font-fallback:
					"Adjusted Arial Fallback", system-ui, -apple-system,
					blinkmacsystemfont, "Segoe UI", "Noto Sans", helvetica,
					arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
				--font-primary: "Inter", var(--font-fallback);
			}
			@font-face {
				font-family: "Adjusted Arial Fallback";
				src: local(Arial);
				size-adjust: 104%;
				font-size: 16px;
				line-height: 1.6;
				letter-spacing: 0.5px;
				word-spacing: 0px;
			}

			@font-face {
				font-family: "Inter";
				src:
					local("Inter"),
					url("/fonts/Inter/InterVariable.woff2") format("woff2");
				font-display: swap;
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
