.classes-section {
	padding: var(--space-32) var(--space-6);
}

.classes-title {
	position: relative;
	margin-block-end: var(--space-12);
	text-align: center;
}

.classes-title::after {
	position: absolute;
	inset-block-end: -0.8rem;
	inset-inline-start: 50%;
	height: 0.3rem;
	width: 20rem;
	border-radius: var(--border-radius-2);
	background: var(--peru);
	transform: translateX(-50%);
	content: "";
}

.classes__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(31.5rem, 1fr));
	gap: var(--space-5);
}

.class-card {
	display: flex;
	flex-direction: column;
	overflow: hidden; /* Asegura que la imagen ampliada no se salga de los bordes redondeados */
	height: 100%;
	border-radius: var(--border-radius-2);
	background-color: var(--background-primary);
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0.5rem 1.5rem
		light-dark(oklch(0% 0 0 / 10%), oklch(100% 0 0 / 10%));
}

.class-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 1.5rem 3rem
		light-dark(oklch(0% 0 0 / 20%), oklch(100% 0 0 / 20%));
}

/* Contenedor de la imagen para manejar el efecto de zoom */
.class-card .card-image-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.class-card .card-image {
	object-fit: cover;
	height: 220px;
	width: 100%;
	transition: transform 0.5s ease;
}

/* Efecto de zoom al pasar el cursor */
.class-card:hover .card-image {
	transform: scale(1.1);
}

/* Overlay para la imagen */
.class-card .image-overlay {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to bottom,
		oklch(0% 0 0 / 10%),
		oklch(0% 0 0 / 50%)
	);
	transition: opacity 0.3s ease;
	opacity: 0;
}

.class-card:hover .image-overlay {
	opacity: 1;
}

/* Estilo para el texto en el overlay */
.class-card .class-category {
	padding: 0.8rem 1.5rem;
	border: 2px solid white;
	border-radius: var(--border-radius-2);
	background-color: oklch(0% 0 0 / 40%);
	color: white;
	font-size: 1.8rem;
	font-weight: bold;
	transition: all 0.3s ease;
	transform: translateY(20px);
	opacity: 0;
}

.class-card:hover .class-category {
	transform: translateY(0);
	opacity: 1;
}

.card-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	padding: var(--space-7);
}

.card-content h3 {
	margin: 0;
	transition: color 0.2s ease;
}

.class-card:hover .card-content h3 {
	color: var(--text-color-tertiary);
}

.card-content p {
	color: var(--text-color-primary-50p);
}

.class-link {
	align-self: flex-start;
	margin-top: var(--space-4);
}
